# AdvancedTempAnalysis1

In [16]:
#import Dependency

import pandas as pd
from datetime import datetime as dt

In [17]:
# "tobs" is "temperature observations"

df = pd.read_csv('Resources/hawaii_measurements.csv')

df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01   2.0  18.3
1  USC00519397  2010-01-02   0.0  17.2
2  USC00519397  2010-01-03   0.0  23.3
3  USC00519397  2010-01-04   0.0  24.4
4  USC00519397  2010-01-06   NaN  22.8

In [18]:
# Convert the date column format from string to datetime

df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [19]:
# Set the date column as the DataFrame index

df.set_index(df['date'],inplace=True)
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01   2.0  18.3
2010-01-02  USC00519397 2010-01-02   0.0  17.2
2010-01-03  USC00519397 2010-01-03   0.0  23.3
2010-01-04  USC00519397 2010-01-04   0.0  24.4
2010-01-06  USC00519397 2010-01-06   NaN  22.8

In [20]:
# Drop the date column

df.drop(columns='date',inplace=True)

df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397   2.0  18.3
2010-01-02  USC00519397   0.0  17.2
2010-01-03  USC00519397   0.0  23.3
2010-01-04  USC00519397   0.0  24.4
2010-01-06  USC00519397   NaN  22.8

### Compare June and December data across all years

In [21]:
from scipy import stats
from scipy.stats import levene

In [22]:
# Filter data for desired months

filterJune=df[df.index.month == 6]

filterDec=df[df.index.month == 12]

In [23]:
# Identify the average temperature for June

filterJune['tobs'].mean()

23.857705882352942

In [24]:
# Identify the average temperature for December

filterDec['tobs'].mean()

21.690507580751483

In [25]:
# Create collections of temperature data

Junedata=filterJune['tobs']

Decdata=filterDec['tobs']

In [26]:
# Sample Size

print(len(Junedata))

print(len(Decdata))

1700
1517

In [27]:
# Run levene

test=levene(Junedata,Decdata)

print(test)

LeveneResult(statistic=10.282723698917456, pvalue=0.0013559841261942625)

In [28]:
# Run t-test

Unpaired_ttset=stats.ttest_ind(Junedata,Decdata,equal_var=False)

Unpaired_ttset

Ttest_indResult(statistic=31.34524808226529, pvalue=5.04773481339897e-187)

### Analysis

In [29]:
# There are some premises we need to go through to make sure the result of T-test is Statistically meaningful.
# 1. Normal Distribution.->temperature is a normal distribution
# 2. Independent variable.-> the weather condition in June won't affect the weather condition in December.
# 3. Ｈomogeneity in the two groups of variance-> Run levene test
# 4. Sample Size: The size of two gorups is different. ->Run unpaired T-test. 
# 5. H0:mean(June)=mean(December)
#    H1:mean(June)≠mean(December)
#-------------------------------------------------------------------------------------------------------------
#
# levene-test: p-value(0.001)<0.05  ->Heteroscedasticity in the two groups of variance, run adjusted T-test(equal_var=False).
# unpaired t-test result:p-value<0.05 ->Reject H0, The average temperature in June is differ than the average temperature in December.