# Bonus: Temperature Analysis I

In [42]:
import pandas as pd
from datetime import datetime as dt

In [43]:
# "tobs" is "temperature observations"

df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01   2.0  18.3
1  USC00519397  2010-01-02   0.0  17.2
2  USC00519397  2010-01-03   0.0  23.3
3  USC00519397  2010-01-04   0.0  24.4
4  USC00519397  2010-01-06   NaN  22.8

In [44]:
# Convert the date column format from string to datetime

df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [45]:
# Set the date column as the DataFrame index

df.set_index(df['date'],inplace=True)
df

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01   2.0  18.3
2010-01-02  USC00519397 2010-01-02   0.0  17.2
2010-01-03  USC00519397 2010-01-03   0.0  23.3
2010-01-04  USC00519397 2010-01-04   0.0  24.4
2010-01-06  USC00519397 2010-01-06   NaN  22.8
...                 ...        ...   ...   ...
2017-08-19  USC00516128 2017-08-19   2.3  21.7
2017-08-20  USC00516128 2017-08-20   NaN  25.6
2017-08-21  USC00516128 2017-08-21  14.2  24.4
2017-08-22  USC00516128 2017-08-22  12.7  24.4
2017-08-23  USC00516128 2017-08-23  11.4  24.4

[19550 rows x 4 columns]

In [46]:
# Drop the date column

df.drop(columns='date',inplace=True)
df

                station  prcp  tobs
date
2010-01-01  USC00519397   2.0  18.3
2010-01-02  USC00519397   0.0  17.2
2010-01-03  USC00519397   0.0  23.3
2010-01-04  USC00519397   0.0  24.4
2010-01-06  USC00519397   NaN  22.8
...                 ...   ...   ...
2017-08-19  USC00516128   2.3  21.7
2017-08-20  USC00516128   NaN  25.6
2017-08-21  USC00516128  14.2  24.4
2017-08-22  USC00516128  12.7  24.4
2017-08-23  USC00516128  11.4  24.4

[19550 rows x 3 columns]

### Compare June and December data across all years

In [47]:
from scipy import stats
from scipy.stats import levene

In [48]:
# Filter data for desired months

filterJune=df[df.index.month == 6]

filterDec=df[df.index.month == 12]

In [49]:
# Identify the average temperature for June

filterJune['tobs'].mean()

23.857705882352942

In [50]:
# Identify the average temperature for December

filterDec['tobs'].mean()

21.690507580751483

In [51]:
# Create collections of temperature data

Junedata=filterJune['tobs']

Decdata=filterDec['tobs']

In [52]:
# shapiro_test
shapiro_test_June = stats.shapiro(Junedata)
shapiro_test_Dec = stats.shapiro(Decdata)

print(shapiro_test_June)
print(shapiro_test_Dec)

(0.9833194017410278, 3.667778429063129e-13)
(0.9838054776191711, 5.003799891795113e-12)

In [53]:
# Run levene

test=levene(Junedata,Decdata)
print(test)

LeveneResult(statistic=10.282723698917456, pvalue=0.0013559841261942625)

In [56]:

# Run t-test

Unpaired_ttset=stats.ttest_ind(Junedata,Decdata,equal_var=False)
Unpaired_ttset

Ttest_indResult(statistic=31.34524808226529, pvalue=5.04773481339897e-187)

### Analysis